dicee-flutter/android/*
dicee-flutter/ios/*
flutter_app_1/android/*
flutter_app_1/ios/*
i_am_poor_app/android/*
i_am_poor_app/ios/*
magic-8-ball-flutter/android/*
magic-8-ball-flutter/ios/*
mi_card_flutter/android/*
mi_card_flutter/ios/*
*/ios/*
*/android/*
dicee-flutter/android/*/
dicee-flutter/ios/*/
flutter_app_1/android/*/
flutter_app_1/ios/*/
i_am_poor_app/android/*/
i_am_poor_app/ios/*/
magic-8-ball-flutter/android/*/
magic-8-ball-flutter/ios/*/
mi_card_flutter/android/*/
mi_card_flutter/ios/*/
*/ios/*/
*/android/*/

dicee-flutter
